<%= form_for @question do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_field :survey_id,:value => @survey.id, :type => :hidden %>
  </p>
  <p>
    <%= f.label :body, "Questions" %><br />
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.label :category, "Question type" %><br />
    <%= f.select :category, answer_type_array %>
  </p>
  <p id="choices">
    <%= f.label :choices, "Please seperate your answers with '|'" %><br />
    <%= f.text_area :choices %>
  </p>
  <p><%= f.submit "Submit question", :class => "question" %></p>
<% end %>
