<% title "Edit or publish survey" %>
<ul id="right_menu">
  <li><%= link_to "Back to survey", survey_path(@survey), :class=> "back" %></li>
</ul>
<%= form_for @survey do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name, "Survey name" %><br />
    <%= f.text_field :name %>
  </p>
  <div class="warning">
    <h3>Warning</h3>
    <p>If you will publish survey, you won't be able to edit questions!</p>
    <%= f.label :published, "Click here, if you wish to publish survey" %>
    <%= f.check_box :published %>
  </div>
  <p><%= f.submit "Submit survey" %></p>
<% end %>
