<% title "Add new survey" %>

<%= form_for @survey do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name, "Survey name" %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit "Create survey" %></p>
<% end %>
